body{
    background-color: rgb(249, 243, 235);
   font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
}
li{
    padding:9px;
}
h1,h3,strong{
    color: rgb(43, 42, 42);
}
img{
    border-radius: 20px;
}